<div>
    <h2>Formulario de inserción</h2>
    <hr>
    <div>
        <label for="title">Titulo</label>
        <input id='title' type="text" placeholder="introduce el titulo del producto">
    </div>

    <div>
        <label for="price">Precio</label>
        <input id='price' type="text" placeholder="introduce el precio del producto">
    </div>

    <div>
        <label for="quantity">Cantidad</label>
        <input id='quantity' type="number" placeholder="introduce la Cantidad del producto">
    </div>
    <button>Guardar</button>
    
</div>
